body {
  font-family: Avenir;
  min-width: 1200px;
  min-height: 640px;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 0;
  background-color: #fff;
  border: none;
  outline: none;
}

.text-1890ff {
  color: #1890ff;
}