body {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
}

.page-header {
  margin: 127px auto 0;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.page-body {
  margin: 39px auto 0;
  background-color: lightgreen;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.header-logo__text {

  font-size: 33px;
  font-weight: 800;
  line-height: 38px;
}

.header-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);
}

.login-section {
  width: 360px;
}

.login-hd {
  display: flex;
  height: 36px;
  gap: 32px;
  border-bottom: 1px solid #0000000F;
  margin-bottom: 22px;
}

.login-hd__title {
  height: 32px;
  padding-top: 5px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}

.login-hd__title.active {
  border-bottom: 2px solid #1890FF;
}

.login-bd {
  display: none;
}

.login-bd.active {
  display: block;
}

.login-bd__username {
  margin-bottom: 28px;
}

.login-bd__username,
.login-bd__password {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.login-bd__username>svg,
.login-bd__password>svg {
  width: 16px;
  height: 16px;
}

.login-bd__username-input,
.login-bd__password-input {
  flex: 1;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.login-bd__username-input::placeholder,
.login-bd__password-input::placeholder {
  color: #00000040;
}


.login-bd__verification {
  display: flex;
  justify-content: space-between;
}

.login-bd__get {
  width: 82px;
  padding: 6px 15px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #d9d9d9;
}

.login-bd__option {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;

}

.login-bd__option-remember {
  font-size: 14px;
  line-height: 22px;
}

.login-bd__option-forgot {
  font-size: 16px;
  line-height: 24px;
  color: #1890FF;

}

.login-ft {
  width: 114px;
  height: 40px;
  padding: 7px 15px;
  /* 问题，原图中，左侧和中间，是故意的还是无意设计的 */
  margin: 22px auto;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  background-color: #1890FF;
  cursor: pointer;
}

.quick-section {
  display: flex;
  align-items: center;
  width: 360px;
}

.quick-text {
  font-size: 16px;
  line-height: 24px;
  margin-right: 16px;
}

.quick-icons {
  flex: 1;
}

.quick-icon {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

.quick-link {
  font-size: 16px;
  line-height: 24px;
  color: #1890FF;
}

.page-footer {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin-bottom: 27px;
  color: #00000073;
}

.footer-links {
  display: flex;
  line-height: 22px;
  align-items: center;
  margin-bottom: 10px;
}

.footer-link.github {
  margin: 0 40px;
}

.footer-copy {
  font-size: 14px;
  line-height: 22px;

}