body {
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  height: 100vh;
  background-color: #f0f2f5;
}

.page-header {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: 127px auto 0;
}

.page-body {
  margin: 39px auto 0;
}

.header-logo {
  align-items: center;
  display: flex;
  margin-bottom: 12px;
}

.header-logo__text {
  font-size: 33px;
  font-weight: 800;
  line-height: 38px;
}

.header-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);
}

.login-section {
  width: 360px;
}

.login-hd {
  gap: 32px;
  display: flex;
  height: 36px;
  margin-bottom: 22px;
  border-bottom: 1px solid #0000000F;
}

.login-hd__title {
  height: 32px;
  padding-top: 5px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}

.login-hd__title.active {
  border-bottom: 2px solid #1890FF;
}

.login-bd {
  display: none;
}

.login-bd.active {
  display: block;
}

.login-bd__username {
  margin-bottom: 28px;
}

.login-bd__username,
.login-bd__password {
  align-items: center;
  display: flex;
  height: 40px;
  padding: 8px 12px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}

.login-bd__username>svg,
.login-bd__password>svg {
  width: 16px;
  height: 16px;
}

.login-bd__username-input,
.login-bd__password-input {
  flex: 1;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.login-bd__username-input::placeholder,
.login-bd__password-input::placeholder {
  color: #00000040;
}

.login-bd__verification {
  justify-content: space-between;
  display: flex;
}

.login-bd__get {
  width: 82px;
  padding: 6px 15px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.login-bd__option {
  justify-content: space-between;
  display: flex;
  margin-top: 22px;
}

.login-bd__option-remember {
  align-items: center;
  display: flex;
  font-size: 14px;
  line-height: 22px;
}

.login-bd__option-remember svg {
  margin-right: 8px;
}

.login-bd__option-forgot {
  font-size: 16px;
  line-height: 24px;
  color: #1890FF;
}

.login-ft {
  width: 114px;
  height: 40px;
  padding: 7px 15px;
  /* 问题，原图中，左侧和中间，是故意的还是无意设计的 */
  margin: 22px auto;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  background-color: #1890FF;
  border-radius: 2px;
  cursor: pointer;
}

.quick-section {
  align-items: center;
  display: flex;
  width: 360px;
}

.quick-text {
  font-size: 16px;
  line-height: 24px;
  margin-right: 16px;
}

.quick-icons {
  flex: 1;
}

.quick-icon {
  width: 28px;
  height: 28px;
  margin-right: 12px;
  cursor: pointer;
}

.quick-link {
  font-size: 16px;
  line-height: 24px;
  color: #1890FF;
}

.btn-lang {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-query {
  position: absolute;
  bottom: 42px;
  right: 77px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 8px 0px #00000026;
  cursor: pointer;
}

.page-footer {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 27px;
  color: #00000073;
}

.footer-links {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  line-height: 22px;
}

.footer-link.github {
  margin: 0 40px;
}

.footer-copy {
  font-size: 14px;
  line-height: 22px;
}