.register-section {
  flex-direction: column;
  display: flex;
  width: 368px;
}

.register-title {
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.register-section input {
  height: 40px;
  padding: 8px 12px;
  margin-bottom: 16px;
  box-sizing: border-box;
  line-height: 24px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
}

.register-section input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #00000040;
}

.register-phone {
  display: flex;
  height: 40px;
  margin-bottom: 16px;
}

.register-phone__prefix {
  align-items: center;
  justify-content: center;
  width: 88px;
  display: flex;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  border-right: none;
}

.register-phone__prefix svg {
  margin-left: 11px;
}

input.register-phone__input {
  flex: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.register-verification {
  justify-content: space-between;
  display: flex;
}

input.register-verification__input {
  flex: 1;
  margin-bottom: 0;
}

.register-verification__get {
  width: 109px;
  padding: 6px 15px;
  margin-left: 10px;
  box-sizing: border-box;
  line-height: 26px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #D9D9D9;
}

.register-submit {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-top: 22px;
}

.register-submit__confirm {
  width: 196px;
  height: 40px;
  padding: 7px 15px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  background-color: #1890FF;
  border-radius: 2px;
  cursor: pointer;
}

.register-submit__exit {
  width: 82px;
  font-size: 16px;
  line-height: 24px;
  color: #1890FF;
  text-align: center;
  border-radius: 2px;
}