.click-content-item {
  flex: 1;
  display: none;
  overflow-y: auto;
}

.click-content-item.active {
  display: block;
}

.click-content-item::-webkit-scrollbar {
  width: 0;
}

.workplace-search {
  display: flex;
  height: 40px;
  width: 522px;
  margin: 8px auto;
}

.workplace-search__input {
  flex: 1;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d9d9d9;
  border-right: 0;
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.workplace-search__input::placeholder {
  color: #00000040;
}

.workplace-search__submit {
  align-items: center;
  display: flex;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: #1890ff;
  cursor: pointer;
}

.workplace-search__submit-icon {
  margin-right: 8px;
}

.workplace-listtitles {
  gap: 32px;
  display: flex;
  padding-top: 8px;
}

.workplace-listtitle {
  height: 40px;
  padding: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.workplace-listtitle.active {
  color: #1890ff;
  border-bottom: 3px solid #1890FF;
}

.workplace-header {
  padding-bottom: 0;
}

.article-body {
  margin: 24px;
  background-color: #fff;
}

.article-selectors {
  padding: 24px;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
}

.article-selector {
  justify-content: space-between;
  display: flex;
  margin-bottom: 8px;
  color: #000000D9;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
}

.article-selector:last-child {
  margin-bottom: 0px;
}

.article-selector-wrapper {
  flex-shrink: 0;
  align-items: center;
  display: flex;
  height: 32px;
}

.article-selector__options {
  display: flex;
}

.article-selector__option {
  align-items: center;
  padding: 0 8px;
}

.article-selector__option-icon {
  cursor: pointer;
  margin-left: 3px;
}

.owner .article-selector__option-icon {
  margin-left: 4px;
}

.article-selector__title {
  margin-right: 24px;
}

.article-selector-expend {
  flex-shrink: 0;
  color: #1890ff;
  cursor: pointer;
}

.owner .article-selector__option {
  margin-right: 4px;
  background-color: #d9d9d9;
  border-radius: 2px;
}

.article-selector.owner {
  justify-content: flex-start;
}

.article-selector__myown {
  align-items: center;
  display: flex;
  margin-left: 24px;
  color: #1890ff;
}

.article-selector__option {
  display: flex;
}

.article-selector__option-wrapper {
  align-items: center;
  display: flex;
  width: 100px;
  height: 32px;
  padding: 4px 12px;
  margin-left: 8px;
  box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.article-selector__option-input {
  /* 问题，这里的伸缩是怎么被决定的 */
  flex: 1;
  width: 30px;
  line-height: 22px;
}

.article-selector__option-input::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #00000040;
}

.article-list {
  padding: 8px 32px 12px;
}

.article-item {
  padding: 16px 24px;
  border-bottom: 1px solid #d9d9d9;
}

.article-item-container {
  width: 760px;
}

.article-item__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.article-item__categories {
  gap: 8px;
  display: flex;
  margin: 12px 0 16px;
}

.article-item__category {
  background-color: #fafafa;
  padding: 0 10px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #d9d9d9;
}

.article-item__category-icon {
  margin-left: 3px;
}

.article-item__desc {
  font-size: 14px;
  line-height: 22px;
  color: #333;
}

.article-item__updated {
  display: flex;
  margin: 16px 0;
  font-size: 14px;
  line-height: 22px;
  color: #00000073;
}

.article-item__updated-avatar {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.article-item__updated-time {
  margin-left: 16px;
  color: #00000040;
}

.article-item__info {
  align-items: center;
  display: flex;
  height: 32px;
}

.article-item__info-inter {
  align-items: center;
  display: flex;
}

.article-item__info .seprate {
  height: 16px;
  width: 1px;
  margin: 0 16px;
  background-color: #0000000F;
}

.article-item__info-inter-number {
  margin-left: 8px;
  line-height: 22px;
  color: #00000073;
}

.article-more {
  display: flex;
  padding-bottom: 32px;
}

.article-more__btn {
  display: inline-block;
  height: 32px;
  padding: 4px 15px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #00000040;
  border-radius: 2px;
  cursor: pointer;
}

.project-section .article-selectors {
  border-bottom: none;
}

.project-body {
  margin: 24px;
  background-color: transparent;
}

.project-section .article-selectors {
  background-color: #fff;
}

.project-list {
  flex-wrap: wrap;
  gap: 16px;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.project-item {
  width: 284px;
  background-color: #fff;
  border: 1px solid #e3e3e5;
}

.project-item__cover {
  display: flex;
}

.project-item__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.project-item__desc {
  margin: 8px 0;
  font-size: 14px;
  line-height: 22px;
}

.project-item__content {
  padding: 24px;
}

.project-item__info {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 32px;
}

.project-item__info-time {
  font-size: 14px;
  line-height: 22px;
  color: #00000073;
}

.project-item__info-avatars {
  display: flex;
}

.project-item__info-avatar {
  flex-shrink: 1;
  width: 32px;
  margin-right: -8px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.project-item__info-avatar:last-child {
  margin-right: 0;
}

.application-body {
  margin: 24px;
}

.application-list {
  gap: 24px;
  flex-wrap: wrap;
  display: flex;
  margin-top: 24px;
}

.application-item {
  width: 284px;
  background-color: #fff;
}

.application-item__top {
  align-items: flex-start;
  display: flex;
  padding: 24px 24px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.application-item__logo {
  margin-right: 16px;
}

.application-item__title {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  color: #000;
}

.application-item__indicators {
  display: flex;
}

.application-item__indicator {
  width: 98px;
}

.application-item__indicator-name {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 22px;
  color: #00000073;
}

.application-item__indicator-number {
  font-size: 24px;
  line-height: 28px;
  color: #000000D9;
}

.application-item__bottom {
  display: flex;
  padding: 12px 0;
}

.application-item__link {
  flex: 1;
  justify-content: center;
  display: flex;
}

.application-item__bottom .seprate {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #f0f0f0;
}


@media screen and (max-width: 1480px) {
  .project-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .project-item:nth-last-child(-n+2) {
    display: none;
  }
}

@media screen and (min-width: 1481px) {
  .project-list {
    grid-template-columns: repeat(5, 1fr);
  }
}