.page-header {
  justify-content: space-between;
  display: flex;
  height: 48px;
  padding: 0 16px;
  box-sizing: border-box;
  background: #001529;
  border-bottom: 1px red;
  /* 问题，这种向内延申的box-sahdow类似border的效果 */
  box-shadow: 0px -1px 0px 0px #F0F0F0 inset;
}

.header-action {
  align-items: center;
  display: flex;
}

.header-action__search,
.header-action__query,
.header-action__notice,
.header-action__user,
.header-action__lang {
  padding: 0 12px;
  cursor: pointer;
}

.header-action__notice {
  position: relative;
}

.header-action__notice-num {
  position: absolute;
  top: -10px;
  left: 26px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  background-color: red;
  border-radius: 8px;
}

.header-action__user {
  align-items: center;
  display: flex;
}

.header-action__user-avatar {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-color: #1890FF;
  border-radius: 50%;
}

.header-action__user-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
}

.page-body {
  height: calc(100vh - 48px);
  display: flex;
  background-color: #f0f2f5;
}

.sider-section {
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  display: flex;
  width: 208px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 8px 0px #00000026;
}

.workplace-section {
  overflow-y: auto;
  flex: 1;
}

.workplace-section::-webkit-scrollbar {
  width: 0;
}

.sider-item {
  overflow: hidden;
}

.sider-item__title {
  align-items: center;
  display: flex;
  height: 40px;
  padding: 0 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.sider-item__title-text {
  flex: 1;
  margin: 0 10px;
}

.sider-item.active .sider-item__title {
  color: #1890FF;
}

.sider-item.active .sider-item__title-arrow {
  transform: rotate(180deg);
  transition: all .2s ease;
}

.sider-item.active .sider-item__title-icon path {
  fill: #1890FF;
}

.sider-fold svg {
  cursor: pointer;
}

.sider-item__options {
  /* 问题，折叠动画 */
  /* display: grid; */
  /* overflow: hidden; */
  flex-direction: column;
  display: flex;
  height: 0px;
  margin-top: 0;
}

.sider-item.active .sider-item__options {
  height: 100%;
  margin-top: 4px;
}

.sider-item__option {
  padding-left: 40px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 40px;
}

.sider-item__option.active {
  color: #1890FF;
  background-color: #E6F7FF;
  border-right: 3px solid #1890FF
}

.sider-item__option.level-2 {
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: transparent;
  border: none;
  color: #000;
}

.sider-item__option.level-2.active {
  color: #1890FF;
}

.sider-item__option-arrow {
  margin-right: 15px;
}

.sider-item__option.level-2.active .sider-item__option-arrow {
  transform: rotate(180deg);
}

.sider-item__option-selects {
  flex-direction: column;
  row-gap: 8px;
  display: none;
}

.active+.sider-item__option-selects {
  display: flex;
}

.sider-item__option-select {
  align-items: center;
  display: flex;
  height: 40px;
  padding-left: 64px;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
}

.sider-item__option-select.active {
  color: #1890FF;
  background-color: #E6F7FF;
  border-right: 3px solid #1890FF;
}

.sider-fold {
  padding: 0 16px;
  line-height: 40px;
  box-shadow: 0px 1px 0px 0px #F0F0F0 inset;
}

.workplace-header {
  padding: 12px 24px 16px;
  background-color: #fff;
}

.workplace-path {
  display: flex;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 22px;
  color: #00000073;
}

.workplace-path .seprate {
  margin: 0 8px;
}

.workplace-path-section:last-child {
  color: #000000d9;
}

.workplace-title {
  padding: 8px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.workplace-account {
  display: flex;
}

.workplace-account-avatar {
  width: 72px;
  height: 72px;
  margin-right: 24px;
}

.workplace-account-greet__main {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #000;
}

/* 问题，行宽和原设计的不一样 */
.workplace-account-greet__sub {
  font-size: 14px;
  line-height: 22px;
  color: #00000073;
}

.workplace-account-notices {
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.workplace-account-notice {
  text-align: right;
}

.workplace-account-notice__name {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 22px;
  color: #00000073;
}

.workplace-account-notice__number {
  align-items: baseline;
  display: inline-flex;
  font-size: 24px;
  line-height: 38px;
  color: #000000D9;
}

.workplace-account-notice__number-small {
  font-size: 16px;
  line-height: 24px;
}

.workplace-account-notices .seprate {
  height: 32px;
  width: 1px;
  margin: 0 32px;
  background-color: #0000000F;
}

.workplace-body {
  gap: 24px;
  margin: 24px;
  justify-content: space-between;
  display: flex;
}

.workplace-main-container {
  flex: 1;
}

.workplace-main-project {
  background-color: #fff;
  border: 1px solid #f0f0f0;
}

.workplace-project-title {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 24px;
}

.module-title {
  height: 56px;
  padding: 16px 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.workplace-project-more {
  font-size: 14px;
  line-height: 22px;
  color: #1890FF;
}

.workplace-project-list {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid;
}

.workplace-project-item {
  padding: 24px;
  border-right: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}

.workplace-project-item:nth-child(3n) {
  border-right: none;
}

.workplace-project-item__name {
  display: flex;
  align-items: center;
}

.workplace-project-item__name-logo {
  margin-right: 12px;
}

.workplace-project-item__name-text {
  font-size: 14px;
  line-height: 22px;
}

.workplace-project-item__desc {
  margin: 8px 0;
  font-size: 13px;
  line-height: 17px;
  color: #00000073;
}

.workplace-project-item__info {
  justify-content: space-between;
  display: flex;
  font-size: 12px;
  line-height: 20px;
  color: #00000073;
}

.workplace-project-item__info-time {
  color: #00000040;
}

.workplace-main-activities {
  margin-top: 24px;
  background-color: #fff;
}

.workplace-activities-title,
.workplace-quick-title,
.workplace-team-title {
  padding: 16px 24px;
  border-bottom: 1px solid #F0F0F0;
}

.workplace-activities-list {
  padding: 24px 36px;
}

.workplace-activities-item {
  align-items: flex-start;
  display: flex;
  padding: 12px 0;
  /* 问题，这种究竟是边框，还是boxshadow */
  box-shadow: 0px -1px 0px 0px #F0F0F0 inset;
}

.workplace-activities-item__content {
  margin-left: 16px;
  font-size: 14px;
  line-height: 22px;
}

.workplace-activities-item__content-text {
  margin-bottom: 4px;
}

.workplace-activities-item__content-text .key {
  color: #1890FF;
}

.workplace-activities-item__content-time {
  color: #00000073;
}

.workplace-sider-container {
  flex-shrink: 0;
  width: 379px;
}

.workplace-sider-quick {
  background-color: #fff;
}

.workplace-quick-links {
  flex-wrap: wrap;
  row-gap: 8px;
  display: flex;
  padding: 24px;
}

.workplace-quick-link {
  font-size: 14px;
  line-height: 22px;
  padding: 0 4px;
}

.workplace-quick-more {
  align-items: center;
  display: flex;
  padding: 0px 8px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 20px;
  color: #1890FF;
  border: 1px #1890FF solid;
  border-radius: 2px;
}

.workplace-sider-team {
  margin-top: 24px;
  background-color: #fff;
}

.workplace-team-list {
  padding: 24px;
  padding-right: 17px;
  font-size: 0;
}

.workplace-team-item {
  font-size: 12px;
  align-items: center;
  display: inline-flex;
  height: 48px;
}

.workplace-team-item__img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.workplace-team-item__name {
  line-height: 22px;
}

.workplace-team-item:nth-child(2n) {
  width: 171px;
}

.workplace-team-item:nth-child(2n+1) {
  width: 167px;
}